<% provide(:title, "プロフィール") %>
<h1 class="text-center form_font"><%= @user.name %>さんのプロフィール</h1>
&nbsp
<div class="text-center">
  <% if @user.provider.present? %>
    <%= image_tag @user.image_url, size: "100x100", class: "circle_image" if @user.image_url %>
  <% end %>
  <% unless @user.provider.present? %>  
    <%= image_tag(@user.avatar.url,class: "circle_image") if @user.avatar && @user.avatar.url %>
  <% end %>
  <h2 class="form_font"><%= @user.name %></h2>
</div>
&nbsp
<div class="text-center form_font">
  <p><%= @user.description %></p>
</div>
&nbsp
&nbsp
<% if current_user.id == params[:id].to_i %>
  <div class="text-center">
    <%= link_to "プロフィールを編集", edit_user_registration_path, class: "btn btn-dark btn-lg" %>
  </div>
<% end %>
&nbsp
<h1 class="text-center form_font">pomo記録表</h1>
<h4 class="text-center form_font">(設定したタイマー通り学習した回数)</h4>
<div class="x-scroll">
  <%= month_calendar(attribute: :start_at, events: @studies, number_of_weeks: 8) do |date, studies| %>
    <%= date.day %>
    <% studies.each do |study| %>
      <div class="text-center"> 
        <span class="calender_daily_style form_font"><%= study.set %></span>
        <em><span class="form_font">pomo</span></em>
      </div>
    <% end %>
  <% end %>
  &nbsp
  &nbsp
  &nbsp
  &nbsp
  <% if current_user.id == params[:id].to_i %>
    <div class="text-center">
      <%= link_to "退会手続きをする",  user_registration_path, method: :delete, class: "btn btn-danger", data: {confirm: "本当に退会しますか？"} %>
    </div>
  <% end %>
</div>