<% if @post.errors.any? %>
  <div id="error_explanation">
    <h2><%= @post.errors.count %>件のエラーがあります。</h2>
    <ul>

    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>



<%= render partial: 'posts/form', locals: { post: @post } %>

<div id="posts_area">
  <%= render partial: 'posts/index', locals: { posts: @posts, post: @post} %>
</div>

<%= paginate @posts %>