<%= form_with(model:@post) do |f| %>
  <div class="text-center form_font">
  <% user = User.find_by(id: current_user.id) %>
    <% if user.provider.present? %>
      <%= image_tag user.image_url, size: "100x100", class: "circle_image" if user.image_url %>
    <% end %>
    <% unless user.provider.present? %>  
      <%= image_tag(user.avatar.url,class: "circle_image") if user.avatar && user.avatar.url %>
    <% end %>
    <%= f.text_field :content, placeholder: "いまpomoしてる?", class: "form-control-lg" %>
    <div class="text-right post_image">
      <%= f.file_field :post_image, class:"file" %>
      <p class="your_preview">(選択した画像のプレビュー)</p>
      <div class="img_avatar"></div>
    </div>
  </div>

  <div class="actions text-center post_admit">
    <%= f.submit "pomoをつぶやく", class: "btn btn-primary" %>
  </div>
<% end %>