<div class="form_font">
<% posts.each do |post| %>
    <!-- Oauth認証の場合 -->
    <div>
      <div>
        <% user = User.find_by(id: post.user_id) %>
        <% if user.provider.present? %>
          <%= image_tag user.image_url, size: "50x50" if user.image_url %>
        <% end %>
        <!-- Oauth認証で無い場合 -->
        <% unless user.provider.present? %>  
          <%= image_tag user.avatar.variant(resize:'50x50').processed if user.avatar.attached? %>
        <% end %>
        <span class="post_name"><%= user.name %></span>
      </div>
      <div class="post_content">
        <%= post.content %>

        <!-- いいね機能 -->
        <div id="likes_buttons_<%= post.id %>">
          <%= render partial: 'post_favorites/like', locals: { post: post} %>
        </div>


      </div>
      <div class="post_created_at">
        <em><%= post.created_at.strftime("%Y年%m月%d日　%-H時%-M分%-S秒") %></em>
      </div>
    </div>
    <hr>
<% end %>
</div>