<% provide(:title, "管理者専用　ユーザー一覧") %>
<h1 class="text-center">管理者専用　ユーザー一覧</h1>

<div class="x-scroll">
  <table class="table form_font">
    <thead class="text-center">
      <tr>
        <th>プロフィール画像</th>
        <th>ユーザー名</th>
        <th>メールアドレス</th>
        <th>管理者権限</th>
        <th>Oauth認証先</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td class="align-middle text-center admin_index" width="5%">       
          <% if user.provider.present? %>
            <%= image_tag user.image_url, size: "50x50" %>
          <% end %>
          <% unless user.provider.present? %>  
            <%= image_tag(user.avatar.url,class: "circle_image admin_image_size") if user.avatar && user.avatar.url %>
          <% end %>
        </td>
        <td class="align-middle" width="5%"><%= truncate(user.name, length: 20) %></td>
        <td class="align-middle user_email" width="20%"><%= user.email %></td>
        <td class="align-middle text-center" width="5%"><%= user.admin ? "有り" : "ー" %></td>
        <td class="align-middle text-center" width="5%"><%= user.provider.present? ? user.provider : "ー" %></td>
        <td class="align-middle text-center" width="5%"><%= link_to "詳細", user %></td>
        <td class="align-middle text-center" width="5%"><%= link_to "削除", admin_user_path(user), 
          method: :delete, data: {confirm: "削除して宜しいですか？"} %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<%= paginate @users %>