<div class="form_font">
<% @users.each do |user| %>
 

  <div>
  <% if user.provider.present? %>
    <%= image_tag user.image_url, size: "100x100" %>
  <% end %>
  <!-- Oauth認証で無い場合 -->
  <% unless user.provider.present? %>  
    <%= image_tag user.avatar.variant(resize:'100x100').processed if user.avatar.attached? %>
  <% end %>
  <h2 class="form_font"><%= user.name %></h2>
</div>

<% end %>
</div>




<% if false %>
<h1>ユーザー一覧</h1>

<div class="x-scroll">
<table class="table">
  <thead>
    <tr>
      <th>ユーザー名</th>
      <th>メールアドレス</th>
      <th class="text-center">管理者権限の有無</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td class="text-center"><%= link_to "#{user.admin ? "管理者権限あり" : "-"}",edit_admin_user_path(user.id) %> </td>
        <td class="admin_show"><%= link_to "詳細", user %></td>
        <td><%= link_to "編集", edit_admin_user_path(user.id) %></td>
        <td><%= link_to "削除", admin_user_path(user), method: :delete, data: {confirm: "削除して宜しいですか？"} %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
 <%= paginate @users %>
 <% end %>