<% provide(:title, "管理者専用　新規登録画面") %>
<h1 class="text-center">管理者専用 新規登録画面</h1>

<div class="row justify-content-center form_font">
  <div class="col-md-offset-3 col-md-6 col-md-offset-3">
    <% resource = User.new unless resource %>
    <%= form_with(model: @user, url: admin_users_path, local: true) do |f| %>

    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :name, "名前 or ニックネーム" %><br />
      <%= f.text_field :name, autofocus: true, class: "form-control" %>
    </div>
    &nbsp
    <div class="field">
      <%= f.label :email, "メールアドレス" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>
    &nbsp
    <div class="field">
      <%= f.label :password, "パスワード" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> 文字以上でお願いします)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
    </div>
    &nbsp
    <div class="field">
      <%= f.label :password_confirmation, "パスワードの確認" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
    </div>
    &nbsp
    <div class="field">
      <label>
        <%= f.radio_button :admin, "false" %> 管理者権限を与えない 
      </label>
      &nbsp
      <label>
        <%= f.radio_button :admin, "true" %> 管理者権限を与える</label>
      </label>
    </div>
    &nbsp
    <div class="actions">
      <%= f.submit "新規登録", class: "btn btn-dark btn-lg" %>
    </div>
   <% end %>
  </div>
</div>
