<div class="row justify-content-center form_font">
  <div class="col-md-offset-3 col-md-6 col-md-offset-3">
    <%= form_tag(musics_search_path, method: "post", remote: true) do %>
      <div class="field">
        <%= label_tag(:q, "") %>
        <%= text_field_tag :q, nil, placeholder: '聞きたい音楽を検索してpomoしよう',class: "form-control search_form" %>
      </div>
      &nbsp
      <div class="actions text-center">
        <%= submit_tag "Search", class: "btn btn-dark" %>
      </div>
    <% end %>
  </div>
</div>
&nbsp

<!-- スライドショー -->
<div class="row justify-content-center">
  <div class="col-md-offset-1 col-md-10  col-md-offset-1">
    <div class="top__slide">
      <% @trends.each do |trend| %>
        <%= link_to(musics_play_path(title: trend.title, image_url: trend.image_url, music_url: trend.music_url)) do %>
        
        <div>
          <%= trend.title %>
        </div>
        <div>
          <img src="<%= trend.image_url %>">
        </div>


        <% end %>
      <% end %>
    </div>
  </div>
</div>

&nbsp
<div id="movies_area">
  <%= render partial: 'index', locals: { youtube_response: @youtube_response, mixcloud_response: @mixcloud_response } %>
</div>


<script type="text/javascript">
$(function(){
  $('.top__slide').slick({
    accessibility: true,
    autoplay: true,
    autoplaySpeed: 2000,
    speed: 3000,
    pauseOnHover: true,
    cssEase: 'ease',
    dots: false,
    infinite: true,
    vertical: false,
    swipe: true,
    slidesToShow: 2,
    slidesToScroll: 2,
    centerMode: true,
    arrows: true,
    prevArrow: '<button class="slide_button slide-arrow prev-arrow"></button>',
    nextArrow: '<button class="slide_button slide-arrow next-arrow"></button>',
    responsive: [
     {
       breakpoint: 1024, // 768~1023px以下のサイズに適用
          settings: {
             slidesToShow:2,
             slidesToScroll: 1,
          }
      }, {
        breakpoint: 768, // 480〜767px以下のサイズに適用
          settings: {
             slidesToShow:1,
             slidesToScroll: 1,
             arrows: false,
           }
       }
    ]
  });
});
</script>

