<div class="row justify-content-center form_font search_field">
  <div class="col-md-offset-3 col-md-6 col-md-offset-3">
    <%= form_tag(musics_search_path, method: "post", remote: true) do %>
      <div class="field">
        <%= label_tag(:q, "") %>
        <%= text_field_tag :q, nil, placeholder: '聞きたい音楽を検索してpomoしよう',class: "form-control search_form" %>
      </div>
      <div class="search_actions text-center">
        <%= submit_tag "Search", class: "btn btn-dark" %>
      </div>
    <% end %>
  </div>
</div>
<hr>
<!-- スライドショー -->
<h2 class="trend_music">Trend Music</h2>
<div class="row justify-content-center">
  <div class="col-md-offset-1 col-md-10  col-md-offset-1">
    <div class="top_slide">
      <% @trends.each do |trend| %>
        <%= link_to(musics_play_path(title: trend.title, image_url: trend.image_url, music_url: trend.music_url)) do %>       
        <div class="title_style">
          <%= trend.title %>
        </div>
        <div>
          <img src="<%= trend.image_url %>">
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div id="mask" class="hidden">
    <section id="modal" class="hidden">
      <%= render "shared/how" %>
      <div id="close">
        閉じる
      </div>
    </section>
  </div>


<hr>
<h2 class="search_music">Search Result</h2>
<h4 class="search_music">(検索結果が表示されます)</h4>
<div class="row justify-content-center">
  <div class="col-md-12">
    <div class="col-sm-12 text-center">
      <div id="movies_area">
        <%= render partial: 'index', locals: { youtube_response: @youtube_response, mixcloud_response: @mixcloud_response } %>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
document.addEventListener("turbolinks:load",function(){
    $(function(){
      $('.top_slide').slick({
        accessibility: true,
        autoplay: true,
        autoplaySpeed: 2000,
        speed: 3000,
        pauseOnHover: true,
        cssEase: 'ease',
        dots: false,
        infinite: true,
        vertical: false,
        swipe: true,
        slidesToShow: 2,
        slidesToScroll: 2,
        centerMode: true,
        arrows: true,
        prevArrow: '<button class="slide_button slide-arrow prev-arrow"></button>',
        nextArrow: '<button class="slide_button slide-arrow next-arrow"></button>',
        responsive: [
         {
           breakpoint: 1024, // 768~1023px以下のサイズに適用
              settings: {
                 slidesToShow:2,
                 slidesToScroll: 1,
              }
          }, {
            breakpoint: 768, // 480〜767px以下のサイズに適用
              settings: {
                 slidesToShow:1,
                 slidesToScroll: 1,
                 centerMode: true,
                 centerPadding: '10px',
                 arrows: false,
               }
           }
        ]
      });
    });
});
</script>

